@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,500,500i,700,700i|Roboto:400,400i,500,500i,700,700i,900,900i&display=swap');

* {
  /* background-color: #fdede4;
  font-family: 'Roboto', sans-serif;
  text-align: center; */
}

body {
  /* background-color: #fdede4;
  font-family: 'Roboto', sans-serif;
  text-align: center;
} */



#about-me {
  border: 1px solid black;
}

#skills {
  border: 1px solid black;
}

#projects {
  border: 1px solid black;
}

#contact {
  border: 1px solid black;
}
